<html>
<head>
    <title>header</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div id="tabs">
        <ul>
            {% if _session.role_id == 0%}
                <a href="?action=register_form" class=""><i class=""></i><span> REGISTER </span></a>
                <a href="?action=login_form" class=""><i class=""></i> <span> LOGIN </span></a>
            {% endif %}

            <a href="?action=team_view" class=""><i class=""></i><span>TEAM</span></a>
            <a href="?action=about_view" class=""><i class=""></i><span> ABOUT </span></a>
            <a href="?action=contact_form" class=""><i class=""></i><span> CONTACT </span></a>
            <a href="?action=home" class=""><i class=""></i><span> HOME </span></a>

            {% if _session.role_id == 1  or _session.role_id == 2%}
                <a href="?action=exit" class=""><i class=""></i><span> Exit </span></a>
            {% endif %}
            <br/>
        </ul>
    </div>
</header>


