<!-- Navbar (sit on top) -->
<div class="w3-top" style="margin-left:160px">
    <div class="w3-bar w3-orange w3-card" id="myNavbar">
        <a href="#home" class="w3-bar-item w3-button w3-wide">Welcome</a>
        <!-- Right-sided navbar links -->
        <div class="w3-center w3-hide-small">
            <a href="?action=register_form" class="w3-bar-item w3-button w3-padding"><i class="fa fa-map-pin w3-margin-right"></i>REGISTER</a>
            <a href="?action=login_form" class="w3-bar-item w3-button w3-padding"><i class="fa fa-map-pin w3-margin-right"></i>LOGIN</a>
            <a href="?action=" class="w3-bar-item w3-button"><i class="fa fa-user" ></i> TEAM</a>
            <a href="?action=" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a>
            <a href="?action=contact_form" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
            <a href="?action=home" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>HOME</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>