<nav class="w3-sidebar w3-collapse w3-green w3-animate-left" style="z-index:3;width:160px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br>
        <h4><b>Menu</b></h4>
    </div>
    <div class="w3-bar-block w3-padding">

        <a href="#portfolio" class="w3-bar-item w3-button w3-yellow w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>News</a>
        <br/>
        <a href="#portfolio" class="w3-bar-item w3-button w3-yellow w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Articles</a>
        <br/>
        <a href="#portfolio" class="w3-bar-item w3-button w3-yellow w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Trails</a>
        <br/>
        <a href="#portfolio" class="w3-bar-item w3-button w3-yellow w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Forum</a>
        <br/>
        <a href="#portfolio" class="w3-bar-item w3-button w3-yellow w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Albums</a>

    </div>
    <div class="w3-panel w3-large">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</nav>
