<nav class="menu">
    <div class="vertical-menu">

        {% if _session.role_id == 1 or _session.role_id == 2%}

            <a href="">Welcome, {{ _session.username }}!</a>
                <br/>

        {% endif %}
        {% if _session.role_id == 0 %}

            <a href="">Welcome, Guest!</a>
            <br/>
        {% endif %}

        {% if _session.role_id == 2 %}
            <a href="?action=create_news" class=""><i class=""></i>Sent contacts</a>
            <br/>
            <a href="?action=create_news" class=""><i class=""></i>Create news</a>
            <br/>
        {% endif %}

        {% if _session.role_id == 1 or _session.role_id == 2 %}
            <a href="?action=create_trail" class=""><i class=""></i>Create trail</a>
            <br/>
            <a href="?action=create_album" class=""><i class=""></i>Create album</a>
            <br/>
            <a href="?action=create_article" class=""><i class=""></i>Create article</a>
            <br/>
        {% endif %}

        <a href="?action=news_view" class=""><i class=""></i>News</a>
        <br/>
        <a href="?action=articles_view" class=""><i class=""></i>Articles</a>
        <br/>
        <a href="?action=trails_view" class=""><i class=""></i>Trails</a>
        <br/>
        <a href="?action=forum_view" class=""><i class=""></i>Forum</a>
        <br/>
        <a href="?action=albums_view" class=""><i class="fa fa-th-large fa-fw w3-margin-right"></i>Albums</a>

    </div>
    <div class="">
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
    </div>
</nav>
