<!-- Header -->
{{ include('./common/header.twig') }}

<!-- Sidebar/menu -->
{{ include('./common/menu.twig') }}

<div>
    <div class="form_create">
        <br/>
        <h1><b>Create news</b></h1>
        <br/><br/>

        <form method="post">
            <div>
                <label>Author name</label><br/>
                <input type="text" name="author_name" placeholder="required">
                <br/><br/>
            </div>
            <div>
                <label>Source</label><br/>
                <input type="text" name="source" placeholder="require">
                <br/><br/>
            </div>
            <div>
                <label>Subject</label><br/>
                <input type="text" name="subject" placeholder="require">
                <br/><br/>
            </div>
            <div>
                <label>Short content</label><br/>
                <textarea name="short_content" cols="70" rows="3" placeholder="Write short description of the news:"></textarea>
                <br/><br/>
            </div>
            <div>
                <label>Content</label><br/>
                <textarea name="content" cols="70" rows="10" placeholder="Write full text of the news:"></textarea>
                <br/><br/>
            </div>
            <div>
                <label>Images</label><br/>
                <input type="file" name="upload_image">
                <br/><br/>
            </div>
            <input type="hidden" name="form_type" value="news_create">
            <input type="submit" name="submit" value="submit">
        </form>
    </div>
</div>

<!-- Footer -->
{{ include('common/footer.twig') }}