<!-- Header -->
{{ include('./common/header.twig') }}

<!-- Sidebar/menu -->
{{ include('./common/menu.twig') }}

<div class="about">

    <!-- Image Header -->
    <div class="">
        <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/10155591_1587923011470297_580392983280309286_n.jpg?oh=1c252761d9c17fa7b4fe7e25f001d806&oe=5A78E3DF" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
    </div>

    <!-- Team Container -->
    <div class="">
        <h2>The idea</h2>
        <p>It is place for all lovers of the running. Our aim is to share info for good places for running, which we know and had tried it. Here we can publish our trails, articles, stories and pictures. Let's have fun and run. Let's share our interesting trips and find deserving places and friends. Let's enjoy of the freedom of the movement.</p>
    </div>

</div>


<!-- Footer -->
{{ include('common/footer.twig') }}