<!-- Header -->
{{ include('./common/header.twig') }}

<!-- Sidebar/menu -->
{{ include('./common/menu.twig') }}

<div>
    <div class="form_create">
        <br/>
        <h1><b>Login</b></h1>
        <br/><br/>
        <form method="post">
            <div class="w3-section">
                <label>Username</label><br/>
                <input type="text" name="username" required>
            </div>
            <div class="w3-section">
                <label>Password</label><br/>
                <input type="password" name="password" required>
            </div>
            <input type="hidden" name="form_type" value="login">
            <input type="submit" name="submit" value="submit">
        </form>
        <br/><br/><br/>
    </div>
</div>

<!-- Footer -->
{{ include('common/footer.twig') }}
</html>