<!-- Header -->
{{ include('./common/header.twig') }}

<!-- Sidebar/menu -->
{{ include('./common/menu.twig') }}

<div class="trails">
    <br/>
    <h1><b>Trails</b></h1>
    <br/><br/><br/>
    <!-- First Photo Grid-->
    <div class="trails_rubric" id="food">
        <div class="trails_subject">
            <img src="/w3images/sandwich.jpg" alt="Sandwich">
            <h3>The Perfect Sandwich, A Real NYC Classic</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="trails_subject">
            <img src="/w3images/steak.jpg" alt="Steak">
            <h3>Let Me Tell You About This Steak</h3>
            <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="trails_subject">
            <img src="/w3images/cherries.jpg" alt="Cherries">
            <h3>Cherries, interrupted</h3>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            <p>What else?</p>
        </div>
        <div class="trails_subject">
            <img src="/w3images/wine.jpg" alt="Pasta and Wine">
            <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
    </div>

    <!-- Second Photo Grid-->
    <div class="trails_rubric">
        <div class="trails_subject">
            <img src="/w3images/popsicle.jpg" alt="Popsicle" >
            <h3>All I Need Is a Popsicle</h3>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="trails_subject">
            <img src="/w3images/salmon.jpg" alt="Salmon">
            <h3>Salmon For Your Skin</h3>
            <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="trails_subject">
            <img src="/w3images/sandwich.jpg" alt="Sandwich">
            <h3>The Perfect Sandwich, A Real Classic</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="trails_subject">
            <img src="/w3images/croissant.jpg" alt="Croissant">
            <h3>Le French</h3>
            <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
    </div>

    <!-- Pagination -->
    <div class="pagination">
        <div class="w3-bar">
            <a href="#" class="">«</a>
            <a href="#" class="">1</a>
            <a href="#" class="">2</a>
            <a href="#" class="">3</a>
            <a href="#" class="">4</a>
            <a href="#" class="">»</a>
        </div>
    </div>
</div>
<!-- Footer -->
{{ include('common/footer.twig') }}