<!-- Header -->
{{ include('./common/header.twig') }}

<!-- Sidebar/menu -->
{{ include('./common/menu.twig') }}

<div class="team">

<!-- Team Container -->
    <div class="team_title">
    <h2>OUR TEAM</h2>
    <p>MEET OUR TEAM:</p>

    <div><br>

        <div class="team_member">
            <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-1/c0.51.240.240/p240x240/10277163_829753020387503_603563332333000948_n.jpg?oh=48b35118e9e668a13f968f9806ab4417&oe=5A621144" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Stoyan Todorov</h3>
            <p>Developer</p>
        </div>

        <div class="team_member">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBg7ln6Xe6DWHvVMKXIIJS8p0g6UxSEMxTyeTuI0y5vewEYKSVNg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Softuni</h3>
            <p>Assisting team</p>
        </div>

    </div>
</div>

<!-- Work Row -->
<div class="team_work">

    <div class="projects">
        <h2>Our Work</h2>
        <img src="https://www.w3schools.com/w3images/fjords.jpg" alt="Vernazza">
        <p>m veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="projects">
        <h2>Our Work</h2>
        <img src="https://www.w3schools.com/w3images/fjords.jpg" alt="Vernazza">
        <p> am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="projects">
        <h2>Our Work</h2>
        <img src="https://www.w3schools.com/w3images/fjords.jpg" alt="Vernazza">
        <p> niam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="projects">
        <h2>Our Work</h2>
        <img src="https://www.w3schools.com/w3images/fjords.jpg" alt="Vernazza">
        <p>Lorem ipsum dolor sit amettempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ve</p>
    </div>
</div>
</div>



<!-- Footer -->
{{ include('common/footer.twig') }}