
<style>
    body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100%}
    .bgimg {
        background-image: url('');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>


<body>

<div class="w3-container w3-animate-right w3-grey" style="margin-left:140px">
    <div class="w3-row w3-center"><br>
        <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/1453338_714760995220040_1239321498_n.jpg?oh=e7f0ef7ad26bbcef4a8aee0c40cca334&oe=5AAA3333">
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-text-orange w3-animate-top">TRAIL SHARING</h1>
        <p class="w3-large w3-text-orange w3-center w3-animate-right">FIND YOUR JOURNEY,</p>
        <p class="w3-large w3-text-orange w3-center w3-animate-right">ENJOY WITH RUNNING!</p>
    </div>

</div>
</div>


</body>
