<div class="main">
    <div id=img"><br>
        <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/1453338_714760995220040_1239321498_n.jpg?oh=e7f0ef7ad26bbcef4a8aee0c40cca334&oe=5AAA3333">
    </div>
    <div class="text_image">
        <h1>TRAIL SHARING</h1>
        <h2 class="first">FIND YOUR JOURNEY</h2>
        <h2 class="second">ENJOY WITH RUNNING!</h2>
    </div>
</div>