
<style>
    body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100%}
    .bgimg {
        background-image: url('http://running.competitor.com/files/2016/10/Trail-Running-800x534.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white" style="margin-left:150px">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        Logo
    </div>
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-text-teal w3-animate-top">TRAIL SHARING</h1>
        <p class="w3-large w3-text-teal w3-center w3-animate-right">Find your journey</p>
    </div>
</div>

</body>
